.main {
    min-height: 100vh;
    background-color: #FAF6EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.reviews {
    display: flex;
    gap: 1.5rem;
    font-size: 12px;
}

.review {
    margin: 0;
}

.titleContainer h1 {
    font-size: 120px;
    text-align: center;
    margin: 0;
}

.titleContainer h2 {
    text-align: center;
    height: fit-content;
    margin: 0;
    font-size: 35px;
}

.categories {
    position: sticky;
    top: 102px;
    width: 95vw;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #FAF6EE;
    z-index: 2;
    list-style: none;
    gap: 2.4rem;
}

.categories li {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 6px;
    transition: background-color 0.5s ease, color 1s ease;
}

.categories li:hover {
    color: #FAF6EE;
    background-color: black;
}

.active {
    color: #FAF6EE;
    background-color: black;
}

.productList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-auto-rows: 450px;
    gap: 1rem;
}