/* Sidebar default (hidden state) */
.cart {
    padding: 1rem;
    position: fixed;
    top: 0;
    right: -1200px; /* Initially off-screen to the right */
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    background-color: #FAF6EE;
    overflow: auto;
    scrollbar-width: 0;
    transition: right 1s ease; /* Define the sliding animation */
    z-index: 9999;
}

.flex button {
    background: none;
    border: none;
}

/* Visible state for the cart */
.cartVisible {
    right: 0; /* Slide the cart into view */
}

.cartHidden {
    right: -1200px; /* Keep the cart off-screen */
}

.cart button {
    padding: 4px 20px;
    font-size: 16px;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.buy .buyButton {
    width: 100%;
    padding: 10px;
}

