@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Noto Sans', sans-serif, serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
}
