.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    padding: 1.5rem;
}

.flexContainer {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.links {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.links a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.links li {
    transition: transform 0.2s ease;
}

.links li:hover {
    transform: translateY(-1px);
}

.active {
    font-weight: bold;
    text-decoration: dashed;
}

.cartContainer {
    position: relative;

}

.cartContainer span {
    position: absolute;
    background-color: rgb(248, 111, 111);
    text-align: center;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-weight: bold;
    left: 12px;
}